@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom: hide scroll but keep functionality */
.scrollbar-none::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* .testing {
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    background: white;
    border-right: 1px solid black;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
} */
